nav {
    display: flex;
    position: absolute;
    top: 0;
    background-color: white;
    align-items: center;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.02);
    margin-bottom: 2.5em;
    position: fixed;
    width: 100%;
    min-height: 1.5em;

    ul {
        padding: 0em 8em 0em 8em;


        #Logo {
            margin: 1em;
            max-width: 7.5em;
        }

        li {
            display: inline-block;

            a {
                vertical-align: middle;
                justify-content: flex-start;
                margin-left: 3em;
                text-decoration: none;
                color: #c3c3c3;
            

            &:hover {
                color: rgba(74,75,76, 0.7);
            }

            &:is(:link, :active, :visited).active{
                color: rgba(0, 0, 0, 0.7);
            }

            }
        }
    }
}

@media (max-width: 420px) {
    nav {
        display: none;
    }
    
}
