@import "variables";
@import "mixin";
@import "nav";
@import "fonts";
    
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 0;
        padding: 0;

    }    

    main {
        margin: 0em 12em 0em 12em;
        background-color: $background;

        h3 {
            margin-bottom: 1em;
        }

        p {
            opacity: 70%;
        }
    
        a {
            text-decoration: none;
            color: white
            }

        #about-main,
        #add-main {
            max-width: 65em;
            }

        #about-h2-design {
            padding-bottom: 1.5em;
            }

        #about-main {
        padding-bottom: 2em;
            }

        #add-main {
        padding-bottom: 3.5em;
            }

        #dtt {
        opacity: 70%;
        color: #067Bc2;
            }

        .about-main {
            margin-top: 7em;
            }

        footer {
            display: flex;
            align-items: center;

        #about-logo {
            max-width: 210px;
            margin-right: 2.5em;
        }
    }
}


    //Responsive design//
                @media only screen and (max-width: 420px) {
                    //mobile
        
                    nav {
                        background-color: transparent;
                        box-shadow: none;
                    
        
                        #Logo {
                            display: none;
                        }
                    }
        
                    main {
                        padding: 1em;
                        margin: -5em 1em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                    

                        #about-main, #add-main {
                        width: 300px;
                    }
    
                    }
        

                @media only screen and (max-width: 530px) {
                    #about-main, #add-main {
                        width: 200px;
                    }
                }
            }

            

    //Responsive design//